.tableList {
    padding-bottom: 43px;
}

.headerLabel {
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;

    display: flex;
    align-items: center;

    color: #363636;
}

.subHeaderLabel {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #363636;
}

.showMoreLabel {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    
    color: #8C8C8C;
}

.headerDivider {
    margin-top: 0px;
    margin-bottom: 27px;
}