.tableList {
    padding-bottom: 3px;
}

.headerLabel {
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;

    display: flex;
    align-items: center;

    color: #363636;
}

.subHeaderLabel {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #363636;
}

.headerDivider {
    margin-top: 0px;
    margin-bottom: 27px;
}

.subTitleLabel1 {
    padding-left: 20px;
    font-size: 21px;
    font-weight: 300;
    color: #363636;
}

.subTitleLabel2 {
    padding-left: 10px;
    font-size: 21px;
    font-weight: 300;
    color: #363636;
}