.ant-layout-header {
    padding: 0px;
}

.top-menu-layout > li {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    padding-top: 30px!important;
    padding-bottom: 30px!important;
    width: 200px!important;
    height: auto!important;
}

.top-menu-layout {
    background-color: #484848;
    border: none;
    height: 100%;
}

.top-menu-layout > .ant-menu-item a {
    font-weight: 400!important;
    font-size: 18px!important;
    line-height: 21px!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center;
    text-align: center!important;
    color: #9F9F9F!important;
}

.top-menu-layout > .ant-menu-item-selected {
    background-color: none!important;
}

.top-menu-layout > .ant-menu-item-selected a {
    font-weight: 600!important;
    font-size: 21px!important;
    line-height: 25px!important;
    color: #ffffff!important;
}

.top-menu-layout > .ant-menu-item::after {
    border-bottom: none!important;
}

.top-menu-divider {
    margin: 0px;
    background-color: #9F9F9F;
    height: 35px;
    width: 2px;
}

.top-menu-setting {
    padding-left: 27px;
    padding-right: 27px;
}

.top-menu-logout {
    width: 150px;
    justify-content: center;
    font-weight: 400!important;
    font-size: 18px!important;
    line-height: 21px!important;
    display: flex!important;
    align-items: center!important;
    text-align: center!important;
    color: #9F9F9F!important;
}

.top-menu-user {
    padding: 0px;
    font-weight: 400!important;
    font-size: 18px!important;
    line-height: 21px!important;
    display: flex!important;
    align-items: center!important;
    text-align: center!important;
    color: white!important;
}

.top-menu-layout > .ant-menu-item a:hover {
    color: white!important;
}