[ant-click-animating-without-extra-node='true']::after {
    display:none;
}

[ant-click-animating='true']::after {
    display:none;
}

.auth-input > input {
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #363636;
}

.ant-input {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
}

.ant-input:hover {
    border-color: #C1C1C1;
}

.ant-input:focus {
    background: #FFFFFF;
    border: 1px solid #C1C1C1;
    border-radius: 3px;
    box-shadow: none;
}

.ant-input-affix-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
}

.ant-input[disabled] {
    background: #F2F2F2;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #363636;
}

.ant-picker:hover {
    border-color: #C1C1C1;
}

.ant-picker-focused {
    background: #FFFFFF;
    border: 1px solid #C1C1C1;
    border-radius: 3px;
    box-shadow: none;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #C4C4C4;
    border-color: #CBCBCB;
}

.ant-checkbox-input:focus {
    border: 1px solid #CBCBCB;
}

.detail-input-disabled[disabled] {
    background: #F0F0F0;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}

.ant-input-number {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
}

.ant-input-number:hover {
    border-color: #C1C1C1;
}

.ant-input-number-focused {
    background: #FFFFFF;
    border: 1px solid #C1C1C1;
    border-radius: 3px;
    box-shadow: none;
}

.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.content-auth-layout {
    background: #fff;
    margin: '24px 16px';
    padding-top: 220px;
    min-height: 280;
}

body {
    overflow-x: auto;
    width: 1920px;
}

main {
    overflow-y: auto;
}

.main-layout {
    height: 100%;
    width: 100%;
}

.main-layout .ant-space {
    width: 100%;
}

.header-layout {
    background-color: #484848;
    height: 80px;
}

.content-layout {
    background: #fff;
    padding: 10px 20px;
}

.main-header-title {
    height: 40px;
    padding-left: 39px;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #363636;
}

.detail-header-title {
    height: 40px;
    padding-left: 8px;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #363636;
}

.main-body-divider {
    margin: 0px;
    border-color: #484848;
}

.detail-body-divider {
    margin: 0px;
    margin-top: 13px;
    border-color: #363636;
}

.detail-sub-title {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #363636;
}

.detail-add-body-button {
    width: 60px;
    height: 40px;
    padding: 0px;
}

.detail-delete-body-button {
    width: 60px;
    height: 40px;
    padding: 0px;
}

.sub-description {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #999999;
}

.search-layout {
    height: 376px;
}

.detail-table-layout {
    border-top: 1px solid #CBCBCB;
}

.ant-space > .ant-space-item:last-child > .detail-table-layout {
    border-bottom: 1px solid #CBCBCB;
}

.table-header-col-section {
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 21px;
    background-color: #F2F2F2;
}

.table-header-col-section label {
    margin: 0px;
    width: 100%;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: right;
    color: #363636;
}

.table-value-col-section {
    padding: 0px 6px;
}

.white-button {
    background-color: white;
    border: 1px solid #B3B3B3;
    box-sizing: border-box;
    border-radius: 2px;

    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #363636;
}

.white-button:hover {
    border: 1px solid black;

    color: #363636;
}

.white-button:focus {
    background-color: white;
    border-color: #B3B3B3;
    color: #363636;
}

.gray-button {
    background-color: #F0F0F0;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 2px;

    align-items: center;
    text-align: center;
    color: #999999;
}

.gray-button:hover {
    border: 1px solid black;

    color: #363636;
}

.gray-button:focus {
    background-color: F0F0F0;
    border-color: #B3B3B3;
    color: #999999;
}

.black-button {
    background-color: #363636;
    border-color: #363636;
    border-radius: 2px;

    align-items: center;
    text-align: center;
    color: white;
}

.black-button:hover {
    background-color: black;
    border-color: black;

    color: white;
}

.black-button:focus {
    background-color: #363636;
    border-color: #363636;
    color: white;
}

.large-button {
    width: 200px;
    height: 40px;
}

.big-button {
    width: 153px;
    height: 49px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.medium-button {
    height: 39px;
}

.small-button {
    height: 30px;
    width: 80px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.smallest-button {
    width: 50px;
    height: 30px;
    padding: 0px;
}

.rounded-button {
    border-radius: 100px;
}

.disabled-button {
    color: #CBCBCB;
    border-color: #E5E5E5;
}

.body-section {
    padding-bottom: 43px;
}

.body-header-title {
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;

    display: flex;
    align-items: center;

    color: #363636;
}

.danger-alert {
    position: absolute;
    top: 43px;
    left: 0px;

    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    align-items: center;

    color: #C90000;
}

.successful-alert {
    position: absolute;
    top: 43px;
    left: 0px;

    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    align-items: center;

    color: #00afff;
}

.alert-button {
    width: 100%;
    border: none;
    box-shadow: unset;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    align-items: center;
    text-align: center;

    color: #A2A2A2;
}

.confirm-button:hover {
    color: #363636;
}

.delete-button:hover {
    color: #363636;
}

.cancel-button:hover {
    color: #B90000;
}

.cancel-detail-button {
    width: 100px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.save-detail-button {
    width: 130px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}

.save-goto-detail-button {
    width: 160px;
    padding: 0px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}

.delete-body-detail-button {
    width: 120px;
    height: 49px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.upload-image-detail-button {
    width: 60px;
    height: 30px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.alert-content-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    
    align-items: center;
    text-align: center;

    color: #363636;
}

.table-more-label {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    
    color: #8C8C8C;
}

.ant-table-container {
    border: none!important;
}

.ant-table-thead {
    height: 50px;
}

.ant-table-thead > tr > th {
    line-height: 0px;
    background: #F2F2F2;
    border: 1px solid #CBCBCB!important;
    border-left: none!important;
}

.ant-table-thead > tr > th:last-child {
    border-right: none!important;
}

.ant-table-tbody > tr {
    height: 50px;
}

.ant-table-tbody > tr > td {
    padding: 0px;
    border-bottom: 1px solid #CBCBCB!important;
    border-right: 1px solid #CBCBCB!important;
}

.ant-table-tbody > tr > td:last-child {
    border-right: none!important;
}

.ant-tabs-nav::before {
    display: none;
}

.ant-tabs-tab {
    justify-content: center;
    margin: 0px!important;
    width: 200px!important;
    height: 60px!important;
    font-weight: 300!important;
    font-size: 18px!important;
    line-height: 21px!important;

    display: flex!important;
    align-items: center!important;
    text-align: center!important;

    color: #363636!important;

    opacity: 0.5!important;
}

.ant-tabs-tab-active {
    font-weight: 600!important;
    font-size: 20px!important;
    line-height: 23px!important;

    color: #363636!important;

    opacity: 1!important;
}

.ant-tabs-tab-btn {
    color: #363636!important;
}

.picture-header-label {
    padding-bottom: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #363636;
}

.ant-switch {
    height: 40px;
    width: 100px;
    background-color: white;
    border: 1px solid #E5E5E5;
}

.ant-switch:focus {
    box-shadow: none;
}

.ant-switch-checked {
    background-color: #F0F0F0;
}

.ant-switch-handle {
    width: 30px;
    height: 30px;
    top: 4px;
    left: 4px;
}

.ant-switch-handle::before {
    border-radius: 20px;
    background-color: #363636;
    box-shadow:none;
}

.ant-switch-checked:focus {
    box-shadow: none;
}

.ant-switch-checked .ant-switch-handle {
    left: calc(100% - 18px - 16px);
}

.ant-switch-checked .ant-switch-handle::before {
    background-color: #C7C7C7;
}

.ant-click-animating-node {
    display: none;
}

.manage-switch {
    width: 75px;
    height: 30px;
}

.manage-switch > .ant-switch-handle {
    width: 25px;
    height: 25px;
    top: 2px;
    left: 2px;
}

.manage-switch.ant-switch-checked .ant-switch-handle {
    left: calc(100% - 18px - 10px);
}

.switch-label {
    height: 100%;
    width: 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #363636;
}

.ant-progress-inner {
    background-color: white;
    border: 1px solid #E5E5E5;
    border-radius: 0px;
}

.description-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    display: flex;
    align-items: center;

    color: #999999;

}

.show-more-label {
    padding-bottom: 50px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    
    color: #8C8C8C;
}

.show-more-label:hover {
    color: black;
}

.title-label {
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #363636;
}

.sub-title-label {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #363636;
}

.search-table-layout {
    border-top: 1px solid #CBCBCB;
}

.ant-space > .ant-space-item:last-child > .search-table-layout {
    border-bottom: 1px solid #CBCBCB;
}

.table-header {
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 21px;
    background-color: #F2F2F2;
}

.table-header-label {
    margin: 0px;
    width: 100%;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: right;
    color: #363636;
}

.table-value {
    padding: 0px 6px;
}

.picture-selected {
    border: 2px solid #00A0C4;
    border-radius: 3px;
}

.ant-image {
    width: 100%;
}

.edit-image {
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
}

.list-image {
    margin: auto;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
}

.gallery-image {
    margin: auto;
    display: flex;
    align-items: center;
    width: 250px;
    height: 250px;
}

.no-access-page {
    height: 100%;
    text-align: center;
    padding: 400px;
    font-size: 15px;
    font-weight: bold;
}

.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #E5E5E5!important;
    box-shadow: none!important;
}

.ant-select-selector {
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #363636;
    border-color: #E5E5E5!important;
    padding-left: 15px!important;
    padding-right: 13px!important;
}

.ant-select-selector:focus {
    border-color: #E5E5E5!important;
    box-shadow: none;
}

.ant-select-selector:active {
    border-color: #E5E5E5!important;
    box-shadow: none;
}

.ant-select-item-option {
    padding-left: 21px!important;
    padding-right: 13px!important;
}

.check-name-button {
    width: 60px;
    padding: 0px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.ant-modal-body {
    padding-top: 21px;
    padding-bottom: 12px;
    padding-left: 17px;
    padding-right: 17px;
}

.add-body-detail-button {
    height: 49px;
    font-weight: 600;
}

.delete-detail-button {
    width: 153px;
    height: 49px;
    font-weight: 400;
}

.search-button {
    font-weight: 600;
}

.create-button {
    font-weight: 600;
}

.order-description-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}

.logo-description-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;

    color: #999999;
}

.date-button {
    width: 50px;
    height: 40px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #363636;
}

.date-button.black-button {
    font-weight: 600;
    color: #FFFFFF;
}

.date-button.white-button {
    border: 1px solid #E5E5E5;
}

.date-button.white-button:hover {
    border: 1px solid black;
}

.table-data-button {
    width: 153px;
    height: 49px;
    font-size: 14px;
    line-height: 16px;
}

.table-data-button.black-button {
    font-weight: 600;
}

.table-data-button.black-button:hover {
    background-color: black;
    border-color: black;

    color: white;
}

.search-status-button {
    width: 130px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
}

.black-button.search-status-button {
    font-weight: 600;
    color: white;
}

.white-button.search-status-button {
    font-weight: 400;
    color: #CBCBCB;
    border: 1px solid #E5E5E5;
}

.white-button.search-status-button:hover {
    border: 1px solid black;
}

.count-search-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #363636;
}

.gallery-table .ant-table-tbody > tr, .gallery-table .ant-table-tbody > tr > td {
    height: 250px;
}

.popular-table .ant-table-tbody > tr, .popular-table .ant-table-tbody > tr > td {
    height: 250px;
}

.role-table .ant-table-tbody > tr > td {
    height: auto;
    text-align: left;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 34px;
}

.role-table .ant-table-tbody > tr > td:first-child {
    padding-left: 19px;
}

.ant-tabs-ink-bar {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.ant-input-affix-wrapper > input.ant-input:focus {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.gallery-no-result {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #999999;
}

.gallery-select-button {
    width: 60px;
    height: 30px;
    padding: 0px;
}

.right-text-input input {
    text-align: right;
}

.image-upload {
    border-radius: 3px;
    border: solid 1px #e5e5e5;
}

.order-change-panel {
    gap: 10px;
    display: flex;
    padding-top: 4px;
}

.order-change-panel > .ant-space-item > svg {
    cursor: pointer;
}

.content-list {
    padding-left: 20px;
    padding-right: 6px;
}