.logo {
    background: #363636;
    height: 80px;
    padding: 25px 10px;
}

.logo-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.simple-logo {
    height: 80px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 16px;
    padding-right: 16px;
    background: white;
    border-bottom: 1px solid #E1E1E1;
}

.simple-logo-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: black;
}

.sider-menu-layout > li {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    padding-left: 61px!important;
    padding-top: 19px!important;
    padding-bottom: 19px!important;
    height: 60px!important;
}

.sider-menu-layout {
    border-right: solid 1px #B3B3B3;
    height: 100%;
}

.sider-menu-layout > .ant-menu-item a {
    font-weight: 500!important;
    font-size: 20px!important;
    line-height: 23px!important;
    display: flex!important;
    align-items: center!important;
    color: #9F9F9F!important;
}

.sider-menu-layout > .ant-menu-item-selected {
    background-color: #F2F2F2!important;
}

.sider-menu-layout > .ant-menu-item-selected a {
    font-weight: 600!important;
    color: #363636!important;
}

.sider-menu-layout > .ant-menu-item::after {
    border-right: solid 1px #B3B3B3!important;
}

.sider-menu-layout > .ant-menu-item a:hover {
    color: #363636!important;
}